/* General styles */
body {
	background-color: #f9d9da;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 1.2em;
}

#wrapper {
	max-width: 1600px;
	margin: 0 auto;
	padding: 1.5em;
	color: #d81e5b;
}

h1 {
	position: relative;
	text-align: center;
	margin-bottom: 1em;
}

h1 span {
	position: absolute;
	bottom: -0.8em;
	left: 50%;
	transform: translateX(-50%);
	font-size: 0.5em;
	font-style: normal;
	font-weight: 100;
}

#form-wrapper {
	display: none;
	flex-direction: column;
	align-items: center;
	margin-top: 1em;
  gap:5px;
}

.input-button-wrapper {
  width:100%;
	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
  gap:5px;
}

#receiverName {
	flex: 1;
	margin-right: 1em;
	border: none;
	border-radius: 0.5em;
	padding: 1em;
	background-color: #fff;
	box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.7);
}

button {
	flex: 0 0 8em;
	border: none;
	border-radius: 0.5em;
	padding: 1em;
	margin-left: 1em;
	background-color: #d81e5b;
	color: #fff;
	box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.7);
	cursor: pointer;
	transition: background-color 0.2s ease;
}

button:hover {
	background-color: #e9457a;
}

label {
	flex-basis: 100%;
}

input[type="text"] {
	flex-basis: calc(100% - 80px);
}

#preview-wrapper {
	display: none;
	margin: 2em 0 0;
	text-align: center;
}

#preview-image {
	display: block;
	margin: 0 auto 1em;
	max-width: 100%;
	height: auto;
	border-radius: 0.5em;
	box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.7);
}

#share-button {
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 0.5em;
	padding: 1em 2em;
	font-size: 1.2em;
	background-color: #d81e5b;
	color: #fff;
	box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.7);
	cursor: pointer;
	transition: background-color 0.2s ease;
}

#share-button:hover {
	background-color: #e9457a;
}

#retry-button {
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 0.5em;
	padding: 1em 2em;
	font-size: 1.2em;
	background-color: #1ed85b;
	color: #fff;
	box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.7);
	cursor: pointer;
	transition: background-color 0.2s ease;
}

#retry-button:hover {
	background-color: #45e97a;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
	#wrapper {
		padding: 1em;
	}

	h1 {
		font-size: 2em;
		margin-bottom: 0.5em;
	}

	#form-wrapper {
		margin-bottom: 1em;
	}

	label {
		font-size: 1.2em;
	}

	input[type="text"] {
		font-size: 1em;
		padding: 0.5em;
	}

	button {
		font-size: 1em;
		padding: 0.5em;
	}

	#preview-wrapper {
		margin-top: 1em;
	}

  #paper-grid {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1em;
  }

  .paper {
    margin: 1em;
    width: 64px;
    height: 64px;
    border: 4px dotted white;
  }

  .selected {
    border: 4px solid black;
    box-shadow:0px 12px 22px 1px #333;    
  }

}
